.col-span-12(class='lg:col-span-4')
    .bg-white.rounded-md.border.border-slate-200
        .flex-1(class='h-1/2')
            img.w-full.object-cover.object-right-top(src="https://d33wubrfki0l68.cloudfront.net/c43307b88fb814366e4f3a181c788796cba83faa/4c05c/new/landing/omnichannel.png")
        .p-10
            h3.text-xl.font-medium.text-gray-700 Omnichannel support center
            p.mt-2.text-slate-500 Chatwoot connects with popular customer communication channels like Email, Website live-chat, Facebook, Twitter, WhatsApp, Instagram, Line, etc., and helps you deliver a consistent customer experience across channels.
            a.mt-2.inline-flex.text-sky-500(href="adad") Read More →